<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searchfound2</title>
    <link rel="stylesheet" href="./css/Searchfound.css">
    <link rel="stylesheet" href="./image/font_3337541_6wfzro9zhj2/iconfont.css">


</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="container">
            <h1 class="logo">Natural Reality</h1>
            <ul>
                <li><a href="index.html" class="label">官网首页</a></li>
                <li><a href="Searchfound.html" class="label change">搜索发现</a></li>
                <li><a href="Activity.html" class="label">比赛活动</a></li>
                <li><a href="Personal.html" class="label">优质作品</a></li>
                <li><a href="About.html" class="label">关于我们</a></li>
            </ul>
        </div>
    </header>
   
    <!-- 推荐信 -->
    <nav class="banners">
      <h2 style="color: #fff;text-align: center;padding-top: 150px;">Please check your three letters</h2>
      <div class="TJX">
        <div class="card">
            <div class="imgBx">
                <img src="./image/bg01.png" alt="">
            </div>
            <div class="content">
                <h2>Notice one</h2>
                <p>
                    你可以根据喜好来选择图片<br>
                    快去试试吧<br>
                    你可以根据喜好来选择图片<br>
                    快去试试吧<br>
                    你可以根据喜好来选择图片<br>
                    快去试试吧<br>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="./image/bg05.png" alt="">
            </div>
            <div class="content">
                <h2>Notice Two</h2>
                <p>
                  你可以分享你选择的图片<br>
                  快去试试吧<br>
                  你可以分享你选择的图片<br>
                  快去试试吧<br>
                  你可以分享你选择的图片<br>
                  快去试试吧<br>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="./image/bg03.png" alt="">
            </div>
            <div class="content">
                <h2>Notice Three</h2>
                <p>
                  这里只有你想不到<br>
                  没有你看不到的图片<br>
                  快去探索新功能吧<br>
                  快去探索新功能吧<br>
                  快去探索新功能吧<br>
                  快去探索新功能吧<br>
                </p>
            </div>
        </div>
    </div>
    </nav>
    <!-- 图片过滤 -->
    <section>
      <div id="app">
        <div class="Ganyinbox">
          <h2 style="color: #fff;text-align: center;">Good picture can make people feel relaxed</h2>
          <ul>
            <li class="list active" data-filter="all">全部</li>
            <li class="list" data-filter="fj">风景</li>
            <li class="list" data-filter="ms">美食</li>
            <li class="list" data-filter="cw">宠物</li>
            <li class="list" data-filter="rx">人像</li>
            <li class="list" data-filter="jz">建筑</li>
        </ul>
        <div class="product">
          <div v-for="item in newStaff" :class="item.class">
              <a href="javascript:;">
                <img :src="item.image" alt="">
              </a>
          </div>
        </div>
          
          <fen-ye v-bind:totalpages="total" :nowpage.sync="now">
              
          </fen-ye>
      </div>
    </section>
    <!-- 底部 -->
    <footer>
        <div class="footers">
          <div class="top">
            <div class="top_left" style="float: left;">
              <p style="font-weight: bold;">Natural Reality</p>
            </div>
            <div class="top_right" style="float: right;">
              <div class="topbox"></div>
              <div class="topbox"></div>
              <div class="topbox"></div>
              <div class="topbox"></div>
              <div class="topbox"></div>
            </div>
          </div>
          <hr>
          <div class="centers">
            <div class="link-boxes">
              <ul class="box">
                <li class="link_name">Company</li>
                <li><a href="javascript:;">Home</a></li>
                <li><a href="javascript:;">Contact us</a></li>
                <li><a href="javascript:;">About us</a></li>
                <li><a href="javascript:;">Get started</a></li>
              </ul>
              <ul class="box">
                <li class="link_name">Services</li>
                <li><a href="javascript:;">App design</a></li>
                <li><a href="javascript:;">Web design</a></li>
                <li><a href="javascript:;">Logo design</a></li>
                <li><a href="javascript:;">Banner design</a></li>
              </ul>
              <ul class="box">
                <li class="link_name">Account</li>
                <li><a href="javascript:;">Profile</a></li>
                <li><a href="javascript:;">My account</a></li>
                <li><a href="javascript:;">Prefrences</a></li>
                <li><a href="javascript:;">Purchase</a></li>
              </ul>
              <ul class="box">
                <li class="link_name">Technology</li>
                <li><a href="javascript:;">HTML & CSS</a></li>
                <li><a href="javascript:;">JavaScript</a></li>
                <li><a href="javascript:;">Vue</a></li>
                <li><a href="javascript:;">JQuery</a></li>
              </ul>
              <ul class="box">
                <li><i class="iconfont icon-QQ-circle-fill"></i></li>
                <li><i class="iconfont icon-weixin"></i></li>
                <li><i class="iconfont icon-weibo"></i></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
   
    <script src="./js/vue.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/Searchfound.js"></script>
    <script>
      Vue.component('fen-ye',{
            props:[ 'totalpages','nowpage' ],
            template:`
            <div>
                <slot name="head"></slot>
                <ul class="fenYeBox">
                    <li @click="prevPage">上一页</li>

                    <li v-for="item in totalpages" :class="{act:item==nowpage}" @click="changepage(item)">{{item}}</li>

                    <li @click="nextPage">下一页</li>
                </ul>
            </div>
            `,
            methods:{
                changepage:function(n){
                    this.$emit("update:nowpage",n);//通知父组件去修改now的变量
                },
                prevPage:function(){
                  let n = this.nowpage;
                  if(n>1){
                    n--;
                  }
                  this.$emit('update:nowpage',n);
                },
                nextPage:function(){
                  let n = this.nowpage;
                  if(n < this.totalpages){
                    n++
                  }
                  this.$emit('update:nowpage',n)
                }
                
            }
        })
       
        let app = new Vue({
            el:'#app',
            data:{
                //total:5, //总页数
                now:1, //当前页码
                num:8,
                staff:[
                    {id:1,class:'itemBox fj',name:'itemBox fj',image:'./image/tj_fj01.jpg'},
                    {id:2,class:'itemBox ms',name:'itemBox ms',image:'./image/tj_ms01.jpg'},
                    {id:3,class:'itemBox jz',name:'itemBox jz',image:'./image/tj_jz01.jpg'},
                    {id:4,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw01.jpg'},
                    {id:5,class:'itemBox rx',name:'itemBox rx',image:'./image/tj_rx01.jpg'},
                    {id:6,class:'itemBox fj',name:'itemBox fj',image:'./image/tj_fj02.jpg'},
                    {id:7,class:'itemBox ms',name:'itemBox ms',image:'./image/tj_ms02.jpg'},
                    {id:8,class:'itemBox jz',name:'itemBox jz',image:'./image/tj_jz02.jpg'},
                    {id:9,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw02.jpg'},
                    {id:10,class:'itemBox fj',name:'itemBox fj',image:'./image/tj_fj03.jpg'},
                    {id:11,class:'itemBox fj',name:'itemBox fj',image:'./image/tj_fj01.jpg'},
                    {id:12,class:'itemBox rx',name:'itemBox rx',image:'./image/tj_rx03.jpg'},
                    {id:13,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw03.jpg'},
                    {id:14,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw04.jpg'},
                    {id:15,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw02.jpg'},
                    {id:16,class:'itemBox ms',name:'itemBox ms',image:'./image/tj_ms03.jpg'},
                    {id:17,class:'itemBox ms',name:'itemBox ms',image:'./image/tj_ms04.jpg'},
                    {id:18,class:'itemBox jz',name:'itemBox jz',image:'./image/tj_jz03.jpg'},
                    {id:19,class:'itemBox jz',name:'itemBox jz',image:'./image/tj_jz04.jpg'},
                    {id:20,class:'itemBox rx',name:'itemBox rx',image:'./image/tj_rx02.jpg'},
                    {id:21,class:'itemBox cw',name:'itemBox cw',image:'./image/tj_cw05.jpg'},
                    {id:22,class:'itemBox rx',name:'itemBox rx',image:'./image/rx01.jpg'},
                    {id:23,class:'itemBox fj',name:'itemBox fj',image:'./image/bg04.png'},
                    {id:24,class:'itemBox fj',name:'itemBox fj',image:'./image/by1.jpg'},
                    {id:25,class:'itemBox fj',name:'itemBox fj',image:'./image/by2.jpg'},
                    {id:26,class:'itemBox fj',name:'itemBox fj',image:'./image/by3.jpg'},
                    {id:27,class:'itemBox rx',name:'itemBox rx',image:'./image/by5.jpg'},
                    {id:28,class:'itemBox ms',name:'itemBox ms',image:'./image/ms01.jpg'},
                    {id:29,class:'itemBox ms',name:'itemBox ms',image:'./image/ms02.jpg'},
                    {id:30,class:'itemBox ms',name:'itemBox ms',image:'./image/ms03.jpg'},
                    {id:31,class:'itemBox ms',name:'itemBox ms',image:'./image/ms04.jpg'},
                    {id:32,class:'itemBox rx',name:'itemBox rx',image:'./image/rx01.jpg'},
                    {id:33,class:'itemBox rx',name:'itemBox rx',image:'./image/rx02.jpg'},
                    {id:34,class:'itemBox rx',name:'itemBox rx',image:'./image/rx03.jpg'},
                    {id:35,class:'itemBox cw',name:'itemBox cw',image:'./image/cw01.jpg'},
                    {id:36,class:'itemBox cw',name:'itemBox cw',image:'./image/cw02.jpg'},
                    {id:37,class:'itemBox cw',name:'itemBox cw',image:'./image/cw03.jpg'},
                    {id:38,class:'itemBox cw',name:'itemBox cw',image:'./image/cw04.jpg'},
                    {id:39,class:'itemBox cw',name:'itemBox cw',image:'./image/cw05.jpg'},
                    {id:40,class:'itemBox rx',name:'itemBox rx',image:'./image/tj_rx02.jpg'}
                ]
            },
           
            computed:{
                newStaff(){
                    // return this.staff  ----> 子数组！！！  arr.slice(起始索引，结束索引)
                    //  1. [0,3)        start = (now-1)*num
                    //  2. [3,6)        end = start + num
                    //  3. [6,9)
                    let start = (this.now-1)*this.num;
                    let end = start + this.num
                    return this.staff.slice(start, end);
                },
                total(){
                    /*
                        取整方式： ① 四舍五入 Math.round(N) ② 向上取整 Math.ceil(N) ③ 向下取整 Maath.floor(N)
                    */
                    return Math.ceil(this.staff.length / this.num);
                }
            },
            
        })
    </script>
</body>
</html>